@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --cor-fundo: #EDE7DA;
    --cor-texto-principal: #3D3D3D;
    --cor-destaque: #6B7B61;
}

body {
    background-color: var(--cor-fundo);
    font-family: 'Lora', serif;
}

.navbar {
    background-color: var(--cor-fundo);
    border-bottom: 1px solid #e0dccc;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--cor-texto-principal);
}

.navbar .navbar-toggler, .navbar .cart-icon {
    border: none;
    color: var(--cor-texto-principal);
    font-size: 1.7rem;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-nav .nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar .navbar-nav .nav-link {
    color: var(--cor-texto-principal);
    font-size: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-color 0.3s;
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--cor-destaque);
}

.navbar .navbar-nav .nav-link.active {
    font-weight: bold;
    color: var(--cor-texto-principal);
    border-bottom: 2px solid var(--cor-texto-principal);
}

.navbar-brand img {
  height: 40px;
  width: auto;
}


.cart-icon img {
  height: 32px;
  width: auto;
}



.offcanvas {
    background-color: #EDE7DA;
    width: 280px;
}

.offcanvas-header {
    padding: 1.5rem;
}

.offcanvas-title {
    color: var(--cor-texto-principal);
    font-weight: bold;
}

.offcanvas-body .nav-link {
    color: var(--cor-texto-principal);
    font-size: 1.4rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-left: 4px solid transparent;
}

.offcanvas-body .nav-link:hover {
    color: var(--cor-destaque);
}

.offcanvas-body .nav-link.active {
    font-weight: bold;
    border-left: 4px solid var(--cor-destaque);
    border-bottom: none;
}